<div class="container mt-5" style="margin-top: 45%;">
  <h1 style="color: #7489ab">Inicia Sesión </h1>
<form class="row g-3 mt-3" id="formLogin" style=" border-color: #7489ab; border-style: solid;
    border-radius: 20px 20px 20px 20px;
    padding: 5px;
    padding-bottom: 5px;">
  <div class="col-md-6">
    <label for="inputEmail" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="Correo Electronico">
  </div>
  <div class="col-md-6">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword"  placeholder="Contraseña">
  </div>

  <div class="col-12" style="padding-bottom: 14px;">
    <button id="iniciarSesionbtn" class="btn btn-primary">Iniciar Sesion</button>
    <button id="Registrarme" class="btn btn-secondary"  >Registrarme</button>
  </div>
</form>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="./js/login.js"></script>